.view .main {
	grid-area: a3;
	background-color: #222222;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 150px;
	grid-template-areas:
	"a1 a2"
	"a3 a4";
	gap: 20px;
	padding: 0 20px 20px 20px
}

.view .main > div {
	background-color: #666666;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.view .main .income-add {
	grid-area: a3;
    flex-direction: column;
    gap: 30px;
}

.view .main .expense-add {
	grid-area: a4;
    flex-direction: column;
    gap: 30px;
}

#add-income-btn, #add-expense-btn {
    background-color: #222222;
    font-size: 16pt;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#add-income-btn:hover {
    background-color: #1999FC;
    transition: all 0.1s ease-out;
}

#add-expense-btn:hover {
    background-color: #FF6255;
    transition: all 0.1s ease-out;
}

.view .main .total {
	grid-area: a3;
    flex-direction: column;
	justify-content: space-around;
    text-align: center;
}

.total div header {
    font-size: 18pt;
    padding-bottom: 2px;
}

.total div span {
    font-size: 20pt;
}

.total-in span {
    color: #1999FC;
}

.total-ex span {
    color: #FF6255;
}