.vscode
cloudinary.txt
expense_manager.session.sql
gaji.png
nota-pizza.jpg
oversize-test.jpg
request.rest
tiket-pesawat.jpg

/client/node_modules

/server/node_modules
/server/.env

/client/public/.unused
/client/src/.unused