.dashboard {
    height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 100px 1fr;
	grid-template-areas:
	"a1 a2"
	"a1 a3";
	transition: 0.4s;
}

.dashboard .sidebar {
	grid-area: a1;
	background-color: #FF6255;
	box-shadow: 2px 2px 2px 2px black;
}

.dashboard .sidebar .logo {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard .sidebar .menu ul {
    padding-top: 10px;
    padding-left: 20px;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap:40px;
}

.menu ul li a {
	text-decoration: none;
}

.menu ul li a i {
    display: inline-block;
    width: 30px;
}

.dashboard .header {
	grid-area: a2;
	background-color: #222222;
	padding-left: 50px;
	font-size: 30pt;
	display: flex;
	align-items: center;
    text-shadow: 5px 5px black;
}