.categories {

    .income-btn {
        grid-area: incomeButton;
        flex-direction: column;
        gap: 30px;

        > button {
            background-color: #222222;
            font-size: 16pt;
            padding: 20px;
            border-radius: 10px;
            color: white;
            cursor: pointer;
        }

        > button:hover {
            background-color: #1999FC;
            transition: all 0.1s ease-out;
        }
    }

    .expense-btn {
        grid-area: expenseButton;
        flex-direction: column;
        gap: 30px;

        > button {
            background-color: #222222;
            font-size: 16pt;
            padding: 20px;
            border-radius: 10px;
            color: white;
            cursor: pointer;
        }

        > button:hover {
            background-color: #FF6255;
            transition: all 0.1s ease-out;
        }
    }
}