.accounts {

    .card:nth-child(1) {
        grid-area: table;

        .data {
            height: 100%;
            width: 100%;
            border-radius: 0 0 5px 5px;
            overflow-y: scroll;
        }

        .data::-webkit-scrollbar {
            width: 0.5rem;
        }
        
        .data::-webkit-scrollbar-thumb {
            background: #1454DC;
            border-radius: 5px;
        }

        .id {
            width: 100%;
            height: 5rem;
            margin-bottom: 0.5rem;
            display: grid;
            grid-template-columns: 1fr 1fr 70px;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
            'name balance edit'
            'name balance delete';
        }

        .id:last-child {
            margin-bottom: 0;
        }

        .name {
            grid-area: name;
            background: rgb(30, 30, 30);
            letter-spacing: 0.1ch;
            padding: 1rem;
            display: flex;
            align-items: center;
        }

        .balance {
            grid-area: balance;
            background: rgb(30, 30, 30);
            letter-spacing: 0.1ch;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: end;
        }

        .edit {
            grid-area: edit;
        }

        .edit, .delete {
            background: rgb(40, 40, 40);
            color: white;
            font-size: 1rem;
            letter-spacing: 0.1ch;
            transition: all 200ms ease;
        }

        .edit:hover {
            color: #1454DC;
        }

        .edit:hover, .delete:hover {
            background: black;
            cursor: pointer;
            transition: all 200ms ease;
        }

        .delete {
            grid-area: delete;
        }

        .delete:hover {
            color: crimson;
        }
    }
}