.transactions {

.view .main {
	grid-area: a3;
	background-color: #222222;
	display: grid;
	grid-template-columns: 1fr 300px;
	grid-template-rows: 200px 1fr;
	grid-template-areas:
	"a1 a2"
	"a1 a3";
	gap: 20px;
	padding: 0 20px 20px 20px
}

.view .main > div {
	background-color: #666666;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.view .main .add {
	grid-area: a2;
    flex-direction: column;
    gap: 30px;
}

#add-btn {
    background-color: #222222;
    font-size: 16pt;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#add-btn:hover {
    background-color: #FF6255;
    transition: all 0.1s ease-out;
}

.add-notes {
    background-color: #444444;
    width: 275px;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 12pt;
    text-align: center;
}

.view .main .total {
	grid-area: a3;
    flex-direction: column;
	justify-content: space-evenly;
    text-align: center;
}

.total div header {
    font-size: 18pt;
    padding-bottom: 2px;
}

.total div span {
    font-size: 20pt;
}

.total-in span {
    color: #1999FC;
}

.total-ex span {
    color: #FF6255;
}

}