.transactions {

    .summary {
		grid-area: summary;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		> div {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 18pt;
			padding-bottom: 2px;
		}
	
		span {
			font-size: 20pt;
		}

		.sum-in span {
			color: #1999FC;
		}
	
		.sum-out span {
			color: #FF6255;
		}
	}
}